body {

  font-family:
    -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color:#8cabde;
  line-height:1.6em;
  max-width:100%;
  overflow-x:hidden;
}
.navbar .navbar-toggler .icon-bar {
    background-color:  #009e47 !important;
}
#nav  {

    background-color: black;
	height: 70px;

}
#brand{
margin-left: 90px;
padding-right: 90px;
}
#form{
margin-right: 200px;
padding-left: 20px;
}

.authorization {
  /* border: 1px solid blue; */
  margin-left: -150px;
}

#nav a {
	color: #fffff7;
}
#nav a:hover , a:focus {
  color:green;
  text-decoration:none;
}

.navbar-nav {
  margin-left: -40px;
}

.dropdown:hover>.dropdown-menu{

    display: block;
	background-color: black;
}
.dropdown:hover>.dropdown-menu a:hover{

    color:green;
	background-color: black;
  text-decoration:none;
}

.main_content, .sidebar {
  border: 1px solid black;
}

.main_content img {
  width: 100%;
  height: auto;
}

.main_content .panel {
  /* border: 1px solid black; */
  /* float: left; */
}

.panel p {
  margin-left: 30%;
  /* border: 1px solid black; */
  margin-top: -7%;
}

.panel .title_link {
  margin-top: -10px;
  margin-bottom: 17px;
  margin-left: 30%;
  display: inline-block;
}

.title_recom {
  /* margin-top: -5%; */
  /* padding-bottom: -10%; */
}

footer {
	/* position: auto; */
  margin-top: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
