body {
	  
  font-family:
    -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color:#ffffff;
  line-height:1.6em;
  max-width:100%;
  overflow-x:hidden;
}
.navbar .navbar-toggler .icon-bar {
    background-color:  #009e47 !important;
}
#nav  {

    background-color: black;
	height: 70px;
	
}
#brand{
margin-left: 90px;
padding-right: 90px;
}
#form{
margin-right: 90px;
padding-left: 90px;
}

#nav a {

	color: #fffff7;
}
#nav a:hover , a:focus {

  color:green;
  text-decoration:none;
}

.dropdown:hover>.dropdown-menu{

    display: block;
	background-color: black;
}
.dropdown:hover>.dropdown-menu a:hover{

    color:green;
	background-color: black;
  text-decoration:none;
}



