<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,500" >
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/vendor/normalize.css/normalize.css'>
  <link rel='stylesheet' href='/css/vendor/fontawesome/css/font-awesome.min.css'>
  <link rel="stylesheet" href="/css/vertical-responsive-menu.min.css">
  <link rel="stylesheet" href="/css/ss.css">
  {{!-- <link rel="stylesheet" href="/css/product.css"> --}}
  <link rel="stylesheet" href="/css/category.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>