html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
}

.container h2 {
	margin-top: 37px;
	background:#003300;
	color:#fff;
	width: 228px;
	font-size: 23px;
	padding: 5px;
	height: 39px;
	margin-left:109px;
	
}
.container h2::after
{
	content:'';
	border-top: 40px solid #003300;
	border-right: 40px solid transparent;
	position:relative;
	left: 60px;
	top: 36px;
}

.row{
	
	margin-top: 30px;
	z-index:1000;
	
}
 img{
	width:100%;
}
.product-bottom{
	margin-bottom:10px;
}
.product-bottom fas
{
	color:#28a745;
	font-size:10px;
}
.product-bottom h3{
	font-size:20px;
	font-weight:bold;
}

.product-bottom h5{
	
	font-size:20px;
	font-weight:bold;
}

.product-bottom .btn{
	background-color:#006400;
	color:#fcfffc;
}
.overlay {
	display:block;
	opacity:0;
	position:absolute;
	top:10%;
	margin-left:0;
	width:70px;
	
}
.product-top:hover .overlay{
	
	opacity:1;
	margin-left:5%;
	transition:1s;
}

.overlay .fas{
	
	cursor:pointer;
	background-color:#8B0000;
	color:#fcfffc;
	height:30px;
	width:40px;
	font-size:20px;
	padding:7px;
	margin:5%;
	margin-bottom:5%;
	
}

.overlay .btn-secondary{
	
	background:transparent !important;
	border:none !important;
	box-shadow: none !important;
}

#box_pro{
	
	
	color:#8B0000;
	
}

header {
  position: relative;
  top: 0;
  
/*  left: 0;*/
  z-index: 1001;
  width: 100%;
  height: 70px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}


#brand{
margin-left: 90px;
padding-right: 90px;
}
#form{
margin-right: 200px;
padding-left: 20px;
}

.authorization {
  /* border: 1px solid blue; */
  margin-left: -150px;
  position: relative;
  /* position: relative; */
}

.authorization p {
  float: left;
  margin-right: 25px;
  margin-top: 15px;
  color: #009e47;
}

.auth_up {
  padding-bottom: 8px;
  display: block;
}

.auth_link {
    /* border: 1px solid green; */
    float: left;
}

.connection_lines_up {
  float: left;
  position: absolute;
  /* display: block; */
  margin-top: 12px;
  margin-left: 38px;
  /* z-index: 1; */
  height: 36px;
  width: 24px;
  /* border: 2px solid green; */
  border-right: none;
  border-bottom: none;
  top:1px;
  left:-2px;
  width:34%;
  height: 16px;
}

.connection_lines_in {
  float: left;
  position: absolute;
  /* display: block; */
  margin-top: 12px;
  margin-left: 38px;
  /* z-index: 1; */
  height: 36px;
  width: 24px;
  /* border: 2px solid green; */
  /* transition: 0.1s; */
  border-right: none;
  border-top: none;
  top:18px;
  left:-2px;
  width:34%;
  height: 16px;
}

#nav a {
	
	color: #2E8B57;
	font-weight:bold;
	font-size:16px;
}
#nav a:hover , a:focus {
  color:#8B0000;
  text-decoration:none;
}

.navbar-nav {
  margin-left: -40px;
}

.dropdown:hover>.dropdown-menu{

    display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown:hover>.dropdown-menu a:hover{

    color:#8B0000;
	background-color: #fff;
  text-decoration:none;
}


.searchbar{
	position:relative;
}
.searchbar input[type="text"]{
  border: 0;
  padding: 0;
  width: 0px;
  height: 35px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.searchbar .icon{
  font-size:20px;
  margin-top:-25px;
  margin-left:10px;
  right: 0;
  text-align:center;
  width: 30px;
  height: 22px;
  background: #2E8B57;
  border-radius: 3px;
  color: #fffff7;
  transition: all 0.5s 0.3s ease;
}

.searchbar .icon i{
  
  margin-top:12px;
  margin-left: 10px;
  transform: translate(-50%,-50%);
  cursor: pointer;
}



.searchbar .icon.active{
  position:absolute;
  color:#fffff7;
  margin-top:5px;
  margin-left:170px;
  background: #8B0000;
  transition: all 0.3s ease;
  height:35px;

}



.searchbar input[type="text"].active{
  position:absolute;
  margin-top:5px;
  width: 200px;
   /*padding: 0 1px;*/
  transition: all 0.5s 0.2s ease;
  background:#fffff7;
  border:1px solid #8B0000;
  
}

@media screen and (max-width: 730px){
  
  
  .searchbar .icon{
    margin-right: -20px;
  }
}
header h1 {
  margin: 0;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  font-size: 18px;
  float: left;
}

.wrapper {
  /*margin-top: 50px;*/
  padding: 15px 30px;
  transition: all 0.3s ease-out;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#bread h3{
width:96%;
height: 40px;
margin-top: 20px;
margin-bottom: 20px;
margin-left:  15px;
}


/* Small devices (tablets)
==========================*/
@media (min-width: 768px) {

}


/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {

  body {
    overflow-y: scroll;
  }

  .logo img {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    float: none;
  }

  .wrapper {
    margin-left: 200px;
  }

  .wrapper__minify {
    margin-left: 50px;
  }

}
